.NavBar {
    background-color: #a3d2ca;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    box-sizing: border-box;
    border-top-right-radius: 25px;
}

@media (max-width: 499px) {
    .NavBar {
        display: none;
    }
}