.MainContent {
    position: fixed;
    left: 260px;
    top: 80px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
@media (max-width: 499px) {
    .MainContent {
        left: 40px;
    }
}