@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

.SearchBar {
    border: none;
    background-color: #e8ded2;
    color: #056676;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    height: 40px;
    width: 90%;
}

.SearchBar::placeholder {
    color: #056676;
    margin-left: 350px;
    margin-top: 20px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
}

.SearchBar:focus {
    outline: none;
}
