@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

.NavItemDetailed {
    width: 235px;
    height: 40px;
    border-radius: 25px;
    background-color: #5eaaa8;
    color: #e8ded2;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    text-align: center;
    margin: 20px 15px 20px 10px;
    box-sizing: border-box;
    display: flex;
}

.NavItemMain {
    width: 235px;
    height: 60px;
    color: #056676;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    text-align: center;
    margin: 20px 15px 20px 10px;
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
}

.NavItemMain:hover {
    cursor: pointer;
}

.NavItemDetailed:hover {
    cursor: pointer;
}

.IconDetailed {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    padding-top: 4.5px;
    margin-left: 5px;

}

.IconMain {
    height: 45px;
    width: 45px;
    margin-right: 15px;
    padding-top: 4.5px;
    margin-left: 8px;

}

.TitleDetailed {
    padding-top: 5px;
}

.TitleMain {
    padding-top: 5px;
    font-size: 30px;
}